<div class="relative bottom-0 flex flex-row">
  <footer class="footer absolute sm:footer-horizontal bg-[#05A8AA] text-base-content p-10 ">
  <nav class="text-white">
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
  </nav>
  <nav class="text-white">
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
  <form>
    <h6 class="footer-title text-white">Newsletter</h6>
    <fieldset class="w-80">
      <label class="text-white">Enter your email address</label>
      <div class="join">
        <input
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item" />
        <button class="btn btn-warning join-item">Subscribe</button>
      </div>
    </fieldset>
  </form></div>
  </footer>
</div>
