<div class="container m-10">
  <div class="flex flex-row">
    <%= render "games/sidebar", platforms: @platforms, genres: @genres %>
  <div class="grid grid-cols-3 gap-6 m-25" id="results">
    <%= render "games/games", games: @games %>
  </div>
  </div>
</div>
