<div class="container">
  <div class="grid grid-cols-4 gap-30 mt-20">
      <% @games.each do |game| %>
        <% unless game.offers.empty? %>
          <div class="card bg-base-200 hover:bg-base-300 w-70 h-100 border border-[#DC602E] hover:border-[#05A8AA] shadow-sm">
          <%= link_to game_path(game) do %>
            <figure class="px-10 pt-3">
              <%= image_tag(game.artwork_url, class: "rounded-lg",
                width: 150, height: 80, crop: :fill) %>
            </figure>
            <div class="card-body items-center text-center h-[400px]">
              <h2 class="card-title text-ss text-[#DC602E]"><%= game.title %></h2>
              <p class="font-bold text-xs text-[#DC602E] mb-3"><%= game.platform %></p>
              <div class="card-actions">
                <p class="btn btn-outline btn-warning">Réserver</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
