<div class="container mx-auto">
  <div class="mb-12"></div>

  <h1 class="text-center uppercase text-teal-600 text-2xl font-bold
"> Make a new offer</h1>
  <%= render "form", offer: @offer%>
  <div class="mb-50"></div>
</div>
